<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>YT VD</title>
    <meta name="author" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="/static/css/style.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="/static/fevicon/fevicon.svg" />
  </head>

  <body>
    <!-- Header start-->
    <div class="container">
      <div class="text-carousel">
        <div class="default-text">YouTube videos in</div>
        <div class="change-text">
          <div class="text-content">
            <div class="text">Full HD</div>
            <div class="text">MP4</div>
            <div class="text">Time</div>
          </div>
        </div>
      </div>
      <div class="intro">
        <p>
          Want to download <ion-icon name="logo-youtube"></ion-icon> YouTube
          videos fast and safely? You can convert and download all YouTube
          videos to high quality only, using the downloader below.<br /><br />
          <code>Created by <ion-icon name="logo-github"></ion-icon></code
          ><a
            style="text-decoration: none; color: red"
            href="https://github.com/b3nhassoun"
            target="_blank"
          >
            B3nhassoun</a
          >
        </p>
      </div>
    </div>
    <!-- Header ends-->

    <!-- download button start-->
    <div>
      <form method="post">
        <input
          id="input-1"
          type="url"
          name="yt_url"
          placeholder="https://youtu.be/xxxxxxxxxxx"
          required
          autofocus
        />
        <label for="input-1">
          <span class="label-text">Enter URL</span>
          <div class="signup-button-trigger">Try It</div>
        </label>
        <button class="url_button" type="submit">Download</button>
        <p class="tip">Press Tab</p>
        <div class="signup-button">Try It</div>
      </form>
    </div>
    <!-- download button ends-->

    <script src="/static/js/main.js"></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
